:root {
    --primary-color: #6A49F2;
    --primary-color-dark: #32236F;
    --primary-color-text: #3E3F66;
    --primary-font-family: 'Poppins', sans-serif;
}

body {
    color: var(--primary-color-text);
    font-family: var(--primary-font-family);
}